// .vuepress/styles/palette.scss

:root {
  --vp-sidebar-item-color: #333333; /* Default text color */
  --vp-sidebar-item-hover-color: #b94242; /* Hover text color */
  --vp-sidebar-item-active-color: #42b983; /* Active link color */
  --vp-sidebar-item-font-size: 14px;
  --vp-sidebar-item-font-weight: 500;
}